{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/notice/css/notice.css' %}">
{% endblock %}
{% block tag %}noticeRead{% endblock %}
{% block heading %}公告內容閱覽{% endblock %}
{% block content %}
<h3>{{ notice.title }}</h3>
<p>發表時間:{{ notice.pupDateTime|date:'Y-m-d H:i' }}</p>
<div class="noticeContent">{{ notice.content|linebreaks }}</div>
{% for comment in comments %}
	<div class="commentDiv">
		<span class="comment">{{ comment.content }}</span>
		<br>
		<span>{{ comment.pubDataTime|date:'Y-m-d H:i' }}</span>
	</div>
{% endfor %}
{% endblock %}