{% extends 'main/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/notice/css/notice.css' %}">
{% endblock %}
{% block tag %}notice{% endblock %}
{% block heading %}公告管理系統{% endblock %}
{% block content %}
<br>
{% comment %}
{% for notice in notices %}
	<h3 id=title>{{ notice.title }}</h3>
	<p>發表時間：{{ notice.pubDateTime|date:'Y-m-d H:i' }}</p>
	<div class="noticeContent">{{ notice.content|linebreaks|truncatewords_html:10 }}</div>
	<hr>
{% endfor %}
{% endcomment %}
{% for notice, comments in notices.items %}
	<h3 id=title>{{ notice.title }}</h3>
	<p id=issuingTime>發表時間：{{ notice.pubDateTime|date:'Y-m-d H:i:s' }}</p>
	<div class="noticeContent">{{ notice.content|linebreaks|truncatewords_html:10 }}</div>
	{% for comment in comments %}
		<div class="commentDiv">
			<span class="comment">{{ comment.content }}</span>
			<br>
			<span class="commentTime">{{ comment.pubDateTime|date:'m月d日 H:i:s' }}</span>
		</div>
	{% endfor %}
	<hr>
{% endfor %}
{% endblock %}