html, body {
	margin: 0;
	height: 100%;
}

body{
	color: #eee;
	padding: 20px;
	background-color: rgba(0, 0, 0, .7);
}

body#about{
	background: url("/static/main/img/background1.png") fixed;
}

body#declaration{
	background: url("/static/main/img/background2.png") fixed;
}

body#main{
	background: url("/static/main/img/background3.png") fixed;
}

body#notice{
	background: url("/static/main/img/background4.png") fixed;
}

#p_01, #h2_01{
	text-align: center;
}

#p_01{
	color: #ffffff;
}

ul#menu{
	margin-bottom: 30px;
	text-align: right;
	margin: 0;
	float: left;
	overflow: hidden;
}

ul#menu li{
	display: inline-block;
	margin-left: 36px;
	border-color:#dee2e6 #dee2e6 #fff;
}

ul#menu li:first-child {
  margin-left: 0;
}

ul#menu li a {
  color: #FFFFFF;
}

ul#menu  li a:hover,
ul#menu  li a.active {
  color: #FFFF00;
}

/* Button */

.btn{
	text-align: right;
	font-family: 標楷體 , 微軟正黑體 , Arial;
	display: inline-block;
	color: black;
	font-size: 0.8em;
	padding: 0.5em 1em;
	text-decoration: none;
	border: thin solid gray;
	background: linear-gradient( #F7F7F7, #DEDEDE);
}

/* Messages */

.success, .error{
	width: 160px;
	padding: 1em;
	text-align: center;
}

.success{
	color: black;
	background-color: #ddffdd;
	border: thin solid green;
}

.error{
	color: black;
	background-color: #fbd9d8;
	border: thin solid red;
}