
#title, #issuingTime{
	text-align: left;
	color: #ff4d4d;
}

.noticeContent{
	text-align: left;
	font-weight:bold;
	color: #375886;
	padding: 20px;
	background-color: #e9e9e9;
	border: thin solid gray;
	border-radius: 10px;
}

.commentDiv{
	text-align: left;
	margin-top: 1em;
}

.comment{
	font-size: 1em;
	color: #12a370;
	font-weight:bold;
}

.commentTime{
	font-size: 1em;
	color: #c58816;
}

input[type=text]{
	padding: 0.4em;
}